<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SAPPHIRO SOFTWARE CONTABLE WEB </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited{
            background-color: #ffffff;
            border-radius: 50px;
        }
        .navbar {
            min-height: 100px;
            background-color: rgba(185, 189, 243, 100);
            
        }
    </style>
</head>
<body >
    
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand " href="#">
                    <img src="https://lh3.googleusercontent.com/PFZd1jCKXK0yj_i2vj3oBbRxtek5tqp7-_IggfnQwMjDFRtgTWz5YWA5ttMb3a0_Ir490eZPY6Q8XLOPMs_H9ckirwHJs2EKzHCh6JBFgCVlmLf3EwCxRiEv08Rr9Jb9PYPi8qDTJ3AOVLxiKeptjB0Xip8tYMuppZeiHGBUggwESsbx_Ev-Ba3ZI-Idfj8ustNBEFTk-8nubwrRWIWOH8ejSTk3Lz0YAd4tj3PAh4ccSZZvaR1sNjIy7s1jgxZR8XKCFYmaUl8Smec9L2R7iGT1Q-cc3D0dwC0tJqcBMfAwcy34mC7rYHL9d7IZmub22H94G8ucHKeLK9XZMpoHOQaBV0PTo3_UPmjzz5gvLgSY9fRg-HTUOZEN5Nhl94UOVcEc4Y10PJNFZtCQDm-3yH-yrJaOyT_7SCtnkiyWXTnuanxMWhwOT-9tIwa0bu7KMFmrjS11GX0og9X3BoFCU-7g5DinNIbXijf6p9bBfeR33Fy2gjgpwkJswJhs9ceTBamPRvDvHa4lqaSc7mKOYbW1vbB5RSquyrOfh30z-2s_wG28JSGfatPxpddH32V2iYLF_UNkWGoalt_zK2FnzmzWUWwMXzgsBjGxnJg9Cmb0JCLcJWiXCYiaVvrxq5TlPOE4ky_esN3h74UI07OQk2vuaaR0aL7hRsED31UimA5YSlij3xOzybeyyOHZIw=w758-h663-no" height=65px />
                    
                </a>

            </div>
            <div class="navbar-collapse collapse row">
                <div class="col-lg-11">
                    <ul class="nav navbar-nav navbar-right ">
                        <h1 class="text-hide"></h1>
                        <li>@Html.ActionLink("INICIO", "Index", "Home")</li>
                        <li>@Html.ActionLink("CONTACTANOS", "Contact", "Home")</li>
                        <li>@Html.ActionLink("LOGIN", "Login", "Home", null, new { @class = "btn btn-primary" })</li>

                    </ul>
                </div>
                <div class="col-lg-12">
                    <h1 class="text-hide"></h1> 
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SAPPHIRO SOFTWARE CONTABLE</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
